html {
  font-family: PT Sans Caption;
  background-image: url("assets/background.svg");
}
header {
  /*margin-top: 53px;
	margin-left: 50px;*/
  padding: 43px 40px 0 40px;
}

.header-time {
  display: block;
  float: right;
  margin-top: 15px;
  font-weight: 700;
  font-size: 47.77px;
  color: #333399;
}

.content {
  display: flex;
  flex-direction: row;
  padding: 24px 10px 10px;
}
.new-ranks {
  width: 40%;
  display: flex;
  flex-direction: column;
}
.week-stars {
  width: 50%;
}

.separator {
  border: 2px dashed #f7a808;
  border-radius: 2px;
  height: 800px;
  margin: 0px 35px 0px 45px;
}
.new-ranks-icon {
  display: flex;
  flex-direction: column;
}
.new-ranks-icon img {
  width: 145px;
  height: 145px;
  z-index: 2;
  position: absolute;
}
.new-ranks-title {
  margin-top: 25px;
  margin-left: 50px;
  border: 2.5px solid #333399;
  border-radius: 10px;
  color: #333399;
  text-align: center;
  font-weight: 600;
  font-size: 26px;
  background: #fff;
}
.new-ranks-subtitle {
  border: 2px solid #333399;
  background: #333399;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  width: 70%;
  margin-left: 80px;
}

.child-title {
  padding: 20px 10px 10px 20px;
  font-size: 20px;
}
.children img {
  border-radius: 50%;
}
.child-img {
  position: block;
}
.child-subtitle {
  font-size: 16px;
  margin-top: 5px;
}
.week-stars-icon {
  display: flex;
  flex-direction: column;
}
.week-stars-icon img {
  width: 145px;
  height: 145px;
  z-index: 2;
  position: absolute;
}
.week-stars-title {
  margin-top: 45px;
  margin-left: 60px;
  border: 2.5px solid #f7a808;
  border-radius: 10px;
  color: #f7a808;
  text-align: center;
  font-weight: 600;
  font-size: 26px;
  background: #fff;
}
/* .children .child:last-child {
  animation-delay: calc(-3s * var(--delay));
} */

.children {
  padding-left: 25px;
  z-index: 0;
  height: 700px;
}
.inner {
  overflow: hidden;
  position: relative;
  margin-top: 100px;
  height: max-content;
}

.child {
  border: 2.5px solid #333399;
  /* animation-delay: 3s; */
  border-radius: 70px;
  height: 100px;
  display: flex;
  flex-direction: row;
  background: #fff;
  margin-bottom: 20px;
  width: 90%;
  animation-name: animate;
  animation-duration: var(--animation-duration);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  flex-shrink: 0;
  white-space: nowrap;
  display: flex;
  list-style: none;
}
:root {
  --number: 0;
  --animation-duration: 0s;
}

@keyframes animate {
  from {
    transform: translateY(calc(-120px * (var(--number) * 1.2)));
  }
  to {
    transform: translateY(700px);
  }
}
