html {
  font-family: PT Sans Caption;
  background-image: url("assets/background.svg");
}
header {
  padding: 43px 30px 0 30px;
}

.header-time {
  display: block;
  float: right;
  margin-top: 15px;
  font-weight: 700;
  font-size: 47.77px;
  color: #333399;
}

.content {
  display: flex;
  flex-direction: row;
  padding: 24px 10px 10px;
}
.new-ranks {
  width: 40%;
  display: flex;
  flex-direction: column;
}
.week-stars {
  width: 50%;
}

.separator {
  border: 3px dashed #f7a808;
  border-radius: 2px;
  height: 900px;
  margin: 0px 45px 0px 45px;
}
.new-ranks-icon {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.new-ranks-icon img {
  width: 145px;
  height: 145px;
  z-index: 2;
  position: absolute;
}
.new-ranks-title {
  margin-top: 35px;
  margin-left: 50px;
  border: 2.5px solid #333399;
  border-radius: 10px;
  color: #333399;
  text-align: center;
  font-weight: 600;
  font-size: 26px;
  background: #fff;
}
.new-ranks-subtitle {
  border: 2px solid #333399;
  background: #333399;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  width: 70%;
  margin-left: 80px;
}

.child-title {
  padding: 20px 10px 10px 20px;
  font-size: 20px;
}
.children img {
  border-radius: 50%;
}
.child-img {
  position: block;
}
.child-subtitle {
  font-size: 16px;
  margin-top: 5px;
}
.week-stars-icon {
  display: flex;
  flex-direction: column;
}
.week-stars-icon img {
  width: 145px;
  height: 145px;
  z-index: 2;
  position: absolute;
}
.week-stars-title {
  margin-top: 45px;
  margin-left: 60px;
  border: 2.5px solid #f7a808;
  border-radius: 10px;
  color: #f7a808;
  text-align: center;
  font-weight: 600;
  font-size: 26px;
  background: #fff;
  width: 650px;
}

.inner {
  overflow: hidden;
  position: relative;
  margin-top: 100px;
  height: max-content;
}
.children {
  padding-left: 25px;
  z-index: 0;
  height: 700px;
}

.child {
  display: flex;
  border: 2.5px solid #333399;
  border-radius: 70px;
  height: 100px;
  background: #fff;
  margin-bottom: 20px;
  width: 90%;
  box-shadow: 2px 3px 2px rgb(156, 156, 156);
  animation-name: animate;
  animation-duration: var(--animation-duration);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
:root {
  --number-of-ranks: 0;
  --animation-duration: 0s;
  --scroll-duration: 0s;
  --number-of-achievement: 0;
}

.kids {
  display: flex;
  border: 3px solid #f7a808;
  border-radius: 70px;
  height: 125px;
  background: #fff;
  margin-bottom: 20px;
  max-width: 90%;
  box-shadow: 2px 3px 2px rgb(156, 156, 156);
  animation-name: scroll;
  animation-duration: var(--scroll-duration);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.rank-img img {
  height: 85px;
  width: 85px;
}
.achive-child-img img {
  height: 126px;
  width: 126px;
}
.achive-child-title {
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  color: #f7a808;
  padding: 20px 10px 10px 20px;
  /* font-size: 25px;
  font-weight: 500; */
}
.achive-child-subtitle {
  font-size: 18px;
  font-weight: 500;
  margin: 5px 35px 0px 0px;
  color: black;
  display: flex;
  flex-direction: column;
}
.achive-child-subtitle p {
  font-weight: 400;
  font-size: 16px;
  margin: 4px 0px;
}

.achive-title-subtitle {
  display: flex;
  flex-direction: row;
}

.week-stars-elements {
  padding-left: 25px;
  z-index: 0;
  height: 700px;
}

.week-stars-inner {
  overflow: hidden;
  position: relative;
  margin-top: 100px;
  height: max-content;
}
.achievements {
  margin-top: 40px;
  margin-left: 20px;
  margin: 40px 30px 0px 40px;
}

@keyframes animate {
  from {
    transform: translateY(calc(-105px * (var(--number-of-ranks) * 1.2)));
  }
  to {
    transform: translateY(700px);
  }
}

@keyframes scroll {
  from {
    transform: translateY(calc(-120px * (var(--number-of-achievement) * 1.2)));
  }
  to {
    transform: translateY(700px);
  }
}
